@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
	--bg: #f4f3ec;
	--light-green: #c2e3d4;
	--yellow: #ffff67;
	--dark-green: #0b462c;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--bg);
	font-family: "Rubik", sans-serif;
}

main {
	padding: 2rem 1rem;
}

.container {
	max-width: 700px;
	margin: 0 auto;
}

.date_and_time {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
	font-size: 1.25rem;
	font-weight: 500;
}

.profile {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 1.5rem;
	border-radius: 20px;
	background: var(--dark-green);
	color: white;
}

.profile {
	.pic {
		min-width: 60px;
		min-height: 60px;
		max-width: 100px;
		max-height: 100px;
	}

	img {
		width: 100%;
		border-radius: 100%;
		border: 4px solid var(--light-green);
	}
}

.profile .slack_id {
	background: var(--light-green);
	width: fit-content;
	color: var(--dark-green);
	padding: 3px 8px;
	border-radius: 20px;
	margin-bottom: 8px;
}

.content {
	margin: 3rem 0;

	h1 {
		font-size: 2rem;
		text-align: center;
		margin-bottom: 0.7rem;
	}

	.heading p {
		text-align: center;
		font-size: 1.1rem;
		margin-bottom: 2rem;
		max-width: 100%;
	}

	h3 {
		font-size: 1.5rem;
		margin-bottom: 0.5rem;
	}

	p {
		max-width: 600px;
	}
}

.goals div:not(:last-child) {
	margin-bottom: 1.5rem;
}

.links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;

	a {
		text-decoration: none;
		color: white;
		background: var(--dark-green);
		padding: 0.5rem 1.1rem;
		border-radius: 0.5rem;
		font-size: 1.2rem;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		transition: all 0.2s ease-in-out;

		&:hover {
			background-color: #1a573d;
		}
	}
}

@media screen and (min-width: 700px) {
}
